body
{
    background: url("/static/img/psc1.jpg") ; /* 首先增加背景图 */
    background-size: 100% auto; /* 设置背景的大小 */
    background-repeat: no-repeat;/* 将背景设置为不重复显示 */
    background-position: 0px -50px;
}
#login_box
{
    border: 1px solid blue;
    width: 30%;
    text-align: center;
    margin: 0 auto;
    margin-top: 15%;
    background: #00000080;
    border-radius: 30px; /*/ 框圆角 /*/
    border-color: rgba(0,153,0,0.0);/*/ 透明 /*/
    transition-property: all;
    transition-duration: 1s;
    padding: 20px 50px;
}
#login_box h1
{
    font-size: 40px;
    font-family: "DFKai-SB";
    color: white;
}
#login_box .words
{
    font-size: 18px;
    font-family: "DFKai-SB";
    color: rgb(252,250,235);
}
#login_box .main_info .item img
{
    transform: translate(-4.5px,9px);
    width: 6%;
}
#login_box .main_info .item input
{
    width: 200px; /* 设置合适的宽度 */
    border: 0; /* 首先将边界取消，方便下面修改下部边界宽度 */
    border-bottom: 3px solid white; /* 将下边界进行修改，显示出横线效果 */
    font-size: 18px; /* 将字体适当的变大加粗 */
    font-family: "DFKai-SB";
    background: #ffffff00; /* 将输入框设置为透明 */
    color: white; /* 上面的文本颜色设置为白色，但是placeholder的颜色要单独设置 */
    padding: 5px 10px; /* 为了placeholder的内容不是顶格显示，增加内部边界 */
}
#login_box button
{
    border: 0; /* 取消按钮的边界 */
    width: 95px; /* 设置合适的按钮的长和宽 */
    height: 30px;
    margin-top: 18px; /* 设置合适的上部外框的宽度，增加与上面的password框的距离 */
    font-size: 18px; /* 修改按钮文字的大小 */
    font-family: "DFKai-SB";
    color: white; /* 修改按钮上文字的颜色 */
    border-radius: 25px; /* 将按钮的左右边框设置为圆弧 */
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%); /* 为按钮增加渐变颜色 */
}
#login_box .main_info .errors
{
    font-size: 18px;
    font-family: "DFKai-SB";
    color: rgb(218,106,108);
}