<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加产品</title>
    <link rel="stylesheet" href="/static/css/add.css"/>
</head>
<body style="text-align:center">
<h1>添加产品</h1>
<div id="adds">
    <form action="/index/add" method="post">
        {% csrf_token %}
        <div>
            <span class="names">名称</span><br>
            <input class="frame" type="text" required="required" placeholder="请输入名称" name="product_name" autofocus>
        </div>
        <div>
            <span class="names">价格</span><br>
            <input class="frame" type="number" min="0" required="required" placeholder="请输入价格（元/斤）" name="product_price" autofocus>
        </div>
        <div>
            <span class="names">备注</span><br>
            <input class="frame" type="text" placeholder="请输入备注（选填）" name="product_ps" autofocus>
        </div><br>
        <div>
            <button type="submit" class="buttons">
                <img class="img1" src="/static/img/confirm.svg"/>
            </button>
            <button class="buttons" onclick="window.location.href = '/index/'">
                <img class="img2" src="/static/img/negative.svg"/>
            </button>
        </div>
    </form>
</div>
</body>
</html>