<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="/static/css/login.css"/>
</head>
<body style="text-align:center">
<form action="/login/" method="post">
    <div id="login_box">
        {% csrf_token %}
        <h1>登录</h1>
        <div class="main_info">
            <div class="words">
                <span>用户名</span>
            </div>
            <div class="item">
                <img src="/static/img/user.svg" aria-hidden="true"/>
                <input type="text" required="required" placeholder="请输入用户名" name="user" autofocus>
            </div><br>
            <div class="words">
                <span>密码</span>
            </div>
            <div class="item">
                <img src="/static/img/password.svg" aria-hidden="true"/>
                <input type="password" required="required" placeholder="请输入密码" name="passwd" autofocus>
            </div><br>
            <button type="submit" style="margin-right:10px;" value="登录">登录</button>&nbsp;
            <button type="button" onclick="window.location.href = '/'">返回</button>
            <div class="errors">
                <br>{{error_msg}}
            </div>
        </div>
    </div>
</form>
</body>
</html>